.lm_goldenlayout {
  background: #000000
}

.lm_content {
  background: #222222
}

.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9)
}

.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px #000000;
  outline: 1px dashed #cccccc;
  transition: all 200ms ease
}

.lm_dropTargetIndicator .lm_inner {
  background: #000000;
  opacity: .2
}

.lm_splitter {
  background: #000000;
  opacity: .001;
  transition: opacity 200ms ease
}

.lm_splitter:hover,
.lm_splitter.lm_dragging {
  background: #444444;
  opacity: 1
}

.lm_header {
  height: 20px;
  user-select: none
}

.lm_header.lm_selectable {
  cursor: pointer
}

.lm_header .lm_tab {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #999999;
  background: #111111;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px
}

.lm_header .lm_tab .lm_close_tab {
  width: 11px;
  height: 11px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAATElEQVR4nG3OwQ0DMQwDwZGRBtR/j1YJzMc5+IDoR+yCVO29g+pu981MFgqZmRdAfU7+CYWcbF11LwALjpBL0N0qybNx/RPU+gOeiS/+XCRwDlTgkQAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
  top: 4px;
  right: 6px;
  opacity: .4
}

.lm_header .lm_tab .lm_close_tab:hover {
  opacity: 1
}

.lm_header .lm_tab.lm_active {
  border-bottom: none;
  box-shadow: 0 -2px 2px #000000;
  padding-bottom: 3px
}

.lm_header .lm_tab.lm_active .lm_close_tab {
  opacity: 1
}

.lm_dragProxy.lm_bottom .lm_header .lm_tab,
.lm_stack.lm_bottom .lm_header .lm_tab {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.lm_dragProxy.lm_bottom .lm_header .lm_tab.lm_active,
.lm_stack.lm_bottom .lm_header .lm_tab.lm_active {
  box-shadow: 0 2px 2px #000000
}

.lm_selected .lm_header {
  background-color: #452500
}

.lm_tab:hover,
.lm_tab.lm_active {
  background: #222222;
  color: #dddddd
}

.lm_header .lm_controls .lm_tabdropdown:before {
  color: #ffffff
}

.lm_controls>li {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 300ms ease
}

.lm_controls>li:hover {
  opacity: 1
}

.lm_controls .lm_popout {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPklEQVR4nI2Q0QoAIAwCNfr/X7aXCpGN8snBdgejJOzckpkxs9jR6K6T5JpU0nWl5pSXTk7qwh8SnNT+CAAWCgkKFpuSWsUAAAAASUVORK5CYII=)
}

.lm_controls .lm_maximise {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKElEQVR4nGP8////fwYCgImQAgYGBgYWKM2IR81/okwajIpgvsMbVgAwgQYRVakEKQAAAABJRU5ErkJggg==)
}

.lm_controls .lm_close {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQUlEQVR4nHXOQQ4AMAgCQeT/f6aXpsGK3jSTuCVJAAr7iBdoAwCKd0nwfaAdHbYERw5b44+E8JoBjEYGMBq5gAYP3usUDu2IvoUAAAAASUVORK5CYII=)
}

.lm_maximised .lm_header {
  background-color: #000000
}

.lm_maximised .lm_controls .lm_maximise {
  display: none !important;
}

.lm_transition_indicator {
  background-color: #000000;
  border: 1px dashed #555555
}

.lm_popin {
  cursor: pointer
}

.lm_popin .lm_bg {
  background: #ffffff;
  opacity: .3
}

.lm_popin .lm_icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  opacity: .7
}

.lm_popin:hover .lm_icon {
  opacity: 1
}


/*# sourceMappingURL=goldenlayout-dark-theme.css.map */